<h1>Editer le corsair</h1>

 <%= form_for @corsair do |f| %>
  <p>
    <label>Prénom</label><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <label>Age</label><br/>
    <%= f.text_area :age %>
  </p>
  <p>
    <label>Biographie</label><br/>
    <%= f.text_area :bio %>
  </p>
  <p>
    <label>Slack pseudo</label><br/>
    <%= f.text_field :slack_handle %>
  </p>
  <p>
    <label>Github pseudo</label><br/>
    <%= f.text_field :github_handle %>
  </p>
<%= radio_button_tag(:likeness, "Kebabs") %>
<%= label_tag(:likeness_kebab, "J'aime les Kebabs") %>
<%= radio_button_tag(:likeness, "Humus") %>
<%= label_tag(:likeness_humus, "J'aime le Humus") %>
  <p>

    <%= f.submit %>
  </p>
  <a href="<%= corsair_path(@corsair.id)%>" data-method="DELETE">Supprimer</a>
<% end %>

#travail conjoint
